/*float布局*/
.container{
	width:90%;
	height: 1000px;
	margin:0 auto;
}
.left{
	width:30%;
	height:1000px;
	background-color:#82E0AA;
	float:left;
}
.right{
	width:70%;
	height:1000px;
	background-color: #5DADE2  ;
	float: left;
}