.container {
	height: 1000px;
}
.left {
	width:200px;
	height: 1000px;
	background-color: #7986CB;
	float:left;
}
.middle{
	width:300px;
	height:1000px;
	float: left;
	background-color: #90CAF9;
}
.right{
	width:100%;
	background-color: #E6EE9C;
	height:1000px;
}
